table {
  margin-left: 9rem;
  border: solid 1px black;
}
nav {
  text-align: center;

  /* display: flex; */
}
th {
  padding-left: 5.5rem;
  padding-right: 5.5rem;
}
thead {
  width: 100%;
  background-color: lightblue;
  padding-left: 8rem;
}

.user,
#table-header {
  display: flex;
  border-bottom: solid 1px #333;
}

#table-header {
  background-color: dodgerBlue;
  color: white;
  font-weight: bold;
}
.user td,
#table-header td {
  padding: 1rem;
  font-size: smaller;
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
